*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}

@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4.ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4.ttf);
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
    
}

#page1>nav>img{
    margin-top: 1.7vw;
    width: 9%;

}

#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0b48ec;
    color: white;
    font-family: a;
    font-size: 15px;
}

.bottom-page1{
    position: absolute;
    bottom: 7%;
    height: 35vh;
    width: 50vw;
    left: 10%;
}

.bottom-page1>h1{
    font-family: a;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: white;
}

.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 28%;
    width: 100%;

}

.bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: a;

}

.bottom-page1-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #0b48ec;
    font-size: 16px;
    font-family: b;
}

.bottom-page1-inner>h4{
    font-size: 1.3vw;
    font-weight: 100;
    color: white;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------ */


#page2{
    font-family: a;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: white;
    background-color: #0a3cce;
}

#page2>h2{
    margin-bottom: 3vw;
    font-weight: 100;
}

#page2>h1{
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 4vw;
    color: #dadada69;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------- */



#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}